# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
Dockerfile
docker-compose.yml
/node_modules
/.pnp
.pnp.js
.next

# testing
/coverage

# next.js
/.next/
/out/

# production


# misc
.DS_Store

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env.local
*.env.local
.env.production
# vercel
.vercel

next.config.js
*.next.config.js
